# Arquivos de Configuração e Segredos
.env
.env.*
!.env.example

# Ambiente Virtual e Cache do Python
venv/
.venv/
__pycache__/
*.py[cod]

# Banco de dados local de teste (se houver)
*.db
*.sqlite3

# Pastas de IDE e Sistema Operacional
.vscode/
.idea/
.DS_Store

# Ocultar o script de criação do administrador principal
scripts/